h1{
	color: #7FDBFF;
	text-align: left;
}

body{
	background-color: #FFDC00;
	text-align: center;
    background: url(https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}